.person{
    width: 100%;
}
.prevbutton {
    text-decoration: none;
    padding: 15px 15px;
    font-size: 14px;
    letter-spacing: .15em;
    font-weight: 400;
    background-color: rgba(255, 238, 0, 0.541);
    margin:auto;
    border-radius:5px;
    color:black;
    border-style:none;
  }
    
  .prevbutton:hover {
    text-decoration:none;
    color: #000;
    background-color: rgba(255, 238, 0, 0.95);
  }

  .nextbutton {
    text-decoration: none;
    padding: 15px 15px;
    font-size: 14px;
    letter-spacing: .15em;
    font-weight: 400;
    background-color: rgba(255, 238, 0, 0.541);
    margin:auto;
    border-radius:5px;
    color:black;
    border-style:none;
  }
    
  .nextbutton:hover {
    text-decoration:none;
    color: #000;
    background-color: rgba(255, 238, 0, 0.95);
  }

  .resetbutton {
    text-decoration: none;
    padding: 15px 15px;
    font-size: 14px;
    letter-spacing: .15em;
    font-weight: 400;
    background-color: rgba(255, 240, 77, 0.5);
    margin:auto;
    border-radius:5px;
    color:black;
    border-style:none;
  }
    
  .resetbutton:hover {
    text-decoration:none;
    color: #000;
    background-color: rgba(255, 241, 50, 0.95);
  }

  .center{
    margin-left: auto;
    margin-right: auto;
  }
