@font-face {
  font-family: "Ionicons";
  src: url("../fonts/ionicons/fonts/ionicons.eot?v=2.0.0");
  src: url("../fonts/ionicons/fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), url("../fonts/ionicons/fonts/ionicons.ttf?v=2.0.0") format("truetype"), url("../fonts/ionicons/fonts/ionicons.woff?v=2.0.0") format("woff"), url("../fonts/ionicons/fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  overflow-x: hidden;
  font-size: 1em; }

body {
  font-family: "Work Sans", Arial, sans-serif; }

input, textarea, p {
  font-weight: 300; }

::-moz-selection {
  background: #000;
  color: #fff; }

::selection {
  background: #000;
  color: #fff; }

::-moz-selection {
  background: #000;
  color: #fff; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300 !important; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; 
  text-decoration: none
}

.probootstrap-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 7em 0;
  height: 450px; }
  .probootstrap-cover .overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .probootstrap-cover a:hover {
    color: #fff; }
  .probootstrap-cover h2 {
    color: #fff;}
  .probootstrap-cover p {
    color: rgba(255, 255, 255, 0.7); }
  .probootstrap-cover > .container > .row {
    padding: 7em 0; }

.btn {
  padding: 15px 25px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-weight: 400; }
  .btn.btn-primary {
    color: #fff; }
  .btn:hover, .btn:active, .btn:focus {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); }

.bg_image, .probootstrap-section-half .probootstrap-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.with-overlay {
  position: relative; }
  .with-overlay:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: rgba(0, 0, 0, 0.4); }


.probootstrap_navbar #navbar-brand  {
  text-transform: uppercase;
  letter-spacing: .3em;
}

.navbar-toggler span i {
  font-size: 30px; }


.probootstrap_navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%; }

.probootstrap_navbar {
  background: rgb(51, 51, 51, 0.9); } 

  .probootstrap_navbar .nav-item .nav-link {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 400; }
    @media (max-width: 991px) {
      .probootstrap_navbar .nav-item .nav-link {
        padding: .5em 0; } }
    .probootstrap_navbar .nav-item .nav-link.active {
      color: #fff; }
  .probootstrap_navbar.scrolled {
    background: rgba(51, 51, 51, 0.9);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px; }
    .probootstrap_navbar.scrolled .nav-item .nav-link {
      font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 400;
      padding: .5em 1em;
      color: rgba(255, 255, 255, 0.7);}
    .probootstrap_navbar.scrolled .nav-item .nav-link.active {
      font-weight: bold;
      color: #fff;;
    }
    .probootstrap_navbar.scrolled .nav-item .nav-link:hover:not(.active) {
      color: rgba(255, 255, 255);;
    }
    .probootstrap_navbar.scrolled.awake {
      margin-top: 0px;
      -webkit-transition: .3s all ease-out;
      -o-transition: .3s all ease-out;
      transition: .3s all ease-out; }
    .probootstrap_navbar.scrolled.sleep {
      -webkit-transition: .3s all ease-out;
      -o-transition: .3s all ease-out;
      transition: .3s all ease-out; }

.border-bottom {
  display: block;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px; }
  .border-bottom:after {
    width: 50px;
    height: 2px;
    background: rgba(255, 238, 0, 0.95);
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

#section-feature-testimonial blockquote p {
  color: #000; }

#section-feature-testimonial .probootstrap-author img {
  width: 70px;
  margin-bottom: 10px; }

#section-feature-testimonial .probootstrap-author a {
  display: block; }
  #section-feature-testimonial .probootstrap-author a span {
    display: block; }
  #section-feature-testimonial .probootstrap-author a .probootstrap-name {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #000;
    font-weight: 700; }
  #section-feature-testimonial .probootstrap-author a .probootstrap-title {
    color: #b3b3b3; }

#section-cities {
  border-top: 3px solid #e6e6e6; }

.probootstrap-thumbnail {
  position: relative;
  text-decoration: none;
  display: block;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  opacity: 1;}
  .probootstrap-thumbnail.sleep {
    opacity: .5; }
  .probootstrap-thumbnail img {
    position: relative;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    display: block;
    bottom: 0;
    z-index: 2; }
  .probootstrap-thumbnail h3 {
    z-index: 1;
    display: block;
    text-align: center;
    position: relative;
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
    opacity: 0;
    visibility: hidden;
    bottom: 30px;
    color: #000; }
    @media (max-width: 991px) {
      .probootstrap-thumbnail h3 {
        font-size: 24px;
        bottom: 0; } }
    @media (max-width: 767px) {
      .probootstrap-thumbnail h3 {
        opacity: 1;
        visibility: visible;
        bottom: 0;
        margin-top: 10px; } }
  .probootstrap-thumbnail:hover h3 {
    opacity: 1;
    visibility: visible;
    bottom: -20px; }
    @media (max-width: 991px) {
      .probootstrap-thumbnail:hover h3 {
        bottom: 0px; } }
  .probootstrap-thumbnail:hover img {
    -webkit-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08);
    bottom: 20px;
    -webkit-box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2); }
    @media (max-width: 991px) {
      .probootstrap-thumbnail:hover img {
        bottom: 20px;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); } }
    @media (max-width: 767px) {
      .probootstrap-thumbnail:hover img {
        bottom: 0px;
        opacity: 1;
        visibility: visible; } }

.probootstrap_select-wrap {
  position: relative; }
  .probootstrap_select-wrap:before {
    font-family: 'Ionicons';
    speak-as: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f3d0";
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.probootstrap-section-half {
  float: left;
  width: 100%; }
  .probootstrap-section-half .probootstrap-image,
  .probootstrap-section-half .probootstrap-text {
    width: 50%; }
    @media (max-width: 991px) {
      .probootstrap-section-half .probootstrap-image,
      .probootstrap-section-half .probootstrap-text {
        width: 100%; } }
  @media (max-width: 767px) {
    .probootstrap-section-half .probootstrap-image {
      height: 400px; } }
  .probootstrap-section-half .probootstrap-text {
    background: #ffffeb; }
    .probootstrap-section-half .probootstrap-text .probootstrap-inner {
      padding: 7em; }
      @media (max-width: 991px) {
        .probootstrap-section-half .probootstrap-text .probootstrap-inner {
          padding: 3em; } }
      @media (max-width: 991px) {
        .probootstrap-section-half .probootstrap-text .probootstrap-inner {
          padding-left: 15px;
          padding-right: 15px; } }

  
.probootstrap-section-half1 {
  text-align: center; 
  padding: 50px;
  }

.probootstrap_footer {
  padding-top: 3em;
  padding-bottom: 3em;
  float: left;
  width: 100%; }

.probootstrap_section {
  padding: 7em 0;
  float: left;
  width: 100%; }
  .probootstrap_section.bg-light {
    background: #ffffeb !important; }


.probootstrap_feature-v1 {
  padding: 3em;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  position: relative;
  top: 0;
  border-radius: 4px; }
  .probootstrap_feature-v1:hover, .probootstrap_feature-v1:focus {
    top: -10px;
    background: #fff;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05); }
    @media (max-width: 991px) {
      .probootstrap_feature-v1:hover, .probootstrap_feature-v1:focus {
        top: 0; } }

.probootstrap-border-top {
  border-top: 1px solid #ECECEC; }

@media (max-width: 991px) {
  .probootstrap-section-heading {
    font-size: 28px !important; } }

.probootstrap-media {
  background: #fffffa;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05); }
  @media (max-width: 991px) {
    .probootstrap-media {
      display: block !important; } }
  .probootstrap-media .probootstrap-media-image {
    background-size: cover;
    width: 50%; }
    @media (max-width: 991px) {
      .probootstrap-media .probootstrap-media-image {
        width: 100%;
        height: 200px; } }
  .probootstrap-media .media-body {
    padding: 2em; }

.probootstrap-form {
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0px;
}
  @media (max-width: 991px) {
    .probootstrap-form {
      padding: 15px; } }
  .probootstrap-form image {
    font-weight: normal; }
  .probootstrap-form .form-control {
    height: 46px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
  }
    .probootstrap-form .form-control:active, .probootstrap-form .form-control:focus, .probootstrap-form .form-control:hover {
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(255, 238, 0, 0.95); }
  .probootstrap-form .form-group:last-child {
    margin-bottom: 0;
    padding-bottom: 0; }
  .probootstrap-form .form-group label {
    text-transform: uppercase;
    font-size: 13px; }
  .probootstrap-form .form-group .form-field {
    position: relative; }
    .probootstrap-form .form-group .form-field .icon {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 20px; }
    .probootstrap-form .form-group .form-field .form-control {
      padding-right: 50px; }
  .probootstrap-form textarea.form-control {
    height: inherit;
    resize: vertical; }

.probootstrap-contact-details {
  padding: 0;
  margin: 0; }
  .probootstrap-contact-details li {
    padding: 0;
    margin: 0 0 30px 0;
    line-height: 1.4;
    list-style: none; }
    .probootstrap-contact-details li > span {
      font-weight: 400 !important;
      display: block;
      font-size: 16px;
      margin-bottom: 5px;
      color: rgba(0, 0, 0, 0.3); }

.select2-container--default .select2-selection--single,
.select2-dropdown {
  border: 1px solid #d9d9d9; }
  .select2-container--default .select2-selection--single:active, .select2-container--default .select2-selection--single:focus,
  .select2-dropdown:active,
  .select2-dropdown:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #00CA4C; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: #00CA4C; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background: #d9d9d9;
  color: #000; }

.select2-selection {
  -webkit-box-shadow: 0;
  box-shadow: 0;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  color: #555555;
  font-size: 16px;
  text-transform: none;
  outline: 0;
  min-height: 45px;
  text-align: left; }
  .select2-selection .select2-selection__rendered {
    margin: 7px; }
  .select2-selection .select2-selection__arrow {
    margin: 7px; }

.select2-search__field {
  outline: none !important;
  padding-left: 10px !important;
  padding-right: 10px !important; }
  .select2-search__field:focus, .select2-search__field:active {
    outline: none !important; }

.owl-carousel .owl-stage-outer {
  padding-bottom: 20px;
  padding-top: 20px; }

.owl-carousel .owl-item {
  opacity: .4; }
  .owl-carousel .owl-item.active {
    opacity: 1; }

.owl-carousel .probootstrap-slide {
  display: block;
  position: relative;
  /* padding: 7rem 0; */
  bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding-left: 1px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  text-align: center; }
  .owl-carousel .probootstrap-slide em {
    display: block;
    position: absolute;
    bottom: 0px;
    color: #000000;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-style: normal;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .4s all ease;
    -o-transition: .4s all ease;
    transition: .4s all ease;
    font-size: 13px;
    line-height: 1.4; }
  .owl-carousel .probootstrap-slide span {
    color: #000;
    position: absolute;
    top: 50%;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .owl-carousel .probootstrap-slide span:before {
      font-size: 100px; }
  .owl-carousel .probootstrap-slide:hover, .owl-carousel .probootstrap-slide:focus {
    -webkit-box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.05); }
    .owl-carousel .probootstrap-slide:hover em, .owl-carousel .probootstrap-slide:focus em {
      opacity: 1;
      visibility: visible; }
    .owl-carousel .probootstrap-slide:hover span, .owl-carousel .probootstrap-slide:focus span {
      top: 40%;
      color: #00CA4C; }

.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next {
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: -10px; }
    .owl-carousel .owl-nav .owl-prev span:before,
    .owl-carousel .owl-nav .owl-next span:before {
      font-size: 40px; }
  .owl-carousel .owl-nav .owl-prev {
    left: 0 !important;
    border: 1px solid red; }
  .owl-carousel .owl-nav .owl-next {
    right: 0 !important; }



.probootstrap-date-wrap {
  position: relative; }
  .probootstrap-date-wrap .icon {
    position: absolute;
    top: 50%;
    color: #ccc;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10px; }

.font-light {
  font-weight: 300; }

.probootstrap-animate {
  opacity: 0;
  visibility: hidden; }
#section-services{
      border-top: 1px solid #e6e6e6;
}

#section-paris {background-color: rgba(0, 0, 0, 0.6);
  margin-top: 72px;
  height: 20px;
}

.my_mb_80{
  margin-bottom: 80px;
}


.city-title {
  color: rgb(0, 0, 0);
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
  font-size: 80px;
}

.city-subtitle {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

.experiences-button{
  text-decoration:none;
  color: #000;
}    
  .experiences-button:hover{
    text-decoration: none;
    color: #000;
  }

  .monuments-title {
    text-align: center;
  }

  .text-monuments {
    text-align: center;
    padding-top: 10px;
  }

  
.cidades-ver-mais {
  text-decoration: none;
  padding: 15px 15px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-weight: 400;
  background-color: rgba(255, 238, 0, 0.541);
  margin:auto;
  border-radius:5px;
  color:black;
  border-style:none;
  box-shadow:2px 4px 6px rgba(0, 0, 0, 0.733);
}
  
.cidades-ver-mais:hover {
  text-decoration:none;
  color: #000;
}

  .cidades-ver-mais:hover{
    background-color: rgba(255, 238, 0, 0.95); 
  }


  .ver-mais-button{
    text-decoration:none;
    color: #000;
  }    

  .ver-mais-button:hover{
    color: #000000;
  }

.overlay-monumentos{
  /* position: absolute; */
  width: 100%;
  height: fit-content;
  padding-bottom: 30px;
  padding-top: 60px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.733),white);
}
#head1{
  font-size: 25px;
  font-weight: lighter;
}

.mapa{
  width: 100%;
}


#submit {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-weight: 400;
  background-color: rgba(255, 238, 0, 0.541);
  margin:auto;
  border-radius: 5px;
  color:black;
  border-style: none;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.733);}
  
  #submit:hover{
    background-color: rgba(255, 238, 0, 0.95); }


#submit{
  text-decoration:none;
  color: #000;
}    
  #submit:hover{
    text-decoration: none;
    color: #000;
  }

.probootstrap-cover-index{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
  .probootstrap-cover-index .overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
  }
  .probootstrap-cover-index a:hover {
    color: #fff; }
  .probootstrap-cover-index h2 {
    color: #fff;}
  .probootstrap-cover-index p {
    color: rgba(255, 255, 255, 0.7); }
  .probootstrap-cover-index > .container > .row {
    padding: 7em 0; }

  .title-row {
    background-color: #ffffeb;
    padding: 100px;
  }

  .title-row-1 {
    padding: 100px;
    background-color: white;
  }

  .contact-link {
    text-decoration: none;
  }
  .contact-link:hover{
    text-decoration: underline;
  }

.imagem-meio-about-us {
  background-image: url(../images/about-us-2.jpeg);
  background-position: center;
  background-size: cover;
  min-height: 300px;
  
}

.padding50{
  padding: 50px;
}

.footer-brand-icon {
  color: white;
  padding: 10px;
  text-decoration: none;
}

.footer-brand-icon:hover {
  color: white;
  cursor: pointer;
}


.search {
  width: 100%;
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid rgba(255, 238, 0, 0.95);
}

.search .fa-search {
  color: grey;
  position: absolute;
  top: 20px;
  left: 16px
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
}


.probootstrap_navbar.scrolled .user-actions{
  background-color: white;
  border: none;
  cursor: pointer;
}

.login-text{
  display: none;
}

.user-actions a{
  cursor:pointer;
}

@media (max-width: 977px) {
  .navbar-user{
    display: none;
  }
  .login-text{
    display: inline;
  }

  .user-actions{
    background-color: rgba(48, 48, 48, 0.5);
    border: none;
  }

  .user-actions a{
    color: white;
  }

  .probootstrap_navbar.scrolled .user-actions a{
    color: black;
  }
}

.login-close {
  float: right;
  color: white;
  cursor: pointer;
}

.gradient-custom {
  /* fallback for old browsers */
  background: rgba(255, 238, 0, 0.726);
  padding: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.espaço-entre-texto {
  margin-bottom: 50px;
}

.cards-values {
  background-color: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
}

.about-us-titles {
  font-size: 50px;
}

.probootstrap_section_about_us{
  margin-top: 50px;
  margin-bottom: 50px;
}

#section-travel {
  margin-top: 0px;
}

.probootstrap_section_cidades {
  padding-top: 7em;
  float: left;
  width: 100%;
}

@media (min-width: 1440px) {
  .header-image{
    width: 100%;
  }
}

.my-btn{
  background-color: rgba(255, 238, 0, 0.95); 
}

.my-btn:hover{
  box-shadow:2px 4px 6px rgba(0, 0, 0, 0.733);
}

.card {
  border: none;
  cursor: pointer;
  box-shadow: 0 0 60px rgba(51, 51, 51, 0.219)
}

.card:hover {
  background-color: #eee
}

.ratings i {
  color: orange
}

.testimonial-list {
  list-style: none
}

.testimonial-list li {
  margin-bottom: 20px
}

.probootstrap_section_cidades_2{
  float: left;
  width: 100%;
}

.probootstrap_section_testemunhos {
  float: left;
  width: 100%;
  padding-bottom: 100px;
}

@media(max-width: 1000px){
  .paddingup{
    padding-top: 30px;
  }
}

.probootstrap_section_experiences {
  padding-top: 5em;
  float: left;
  width: 100%;
}

#login-error-msg {
  width: 23%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: #e58f8f;
  opacity: 0;
}