<section class="probootstrap_section_cidades mb-5" id="section-intro">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mt-2">
          <div class="carousel slide probootstrap-animate" data-bs-ride="carousel" id="carouselExampleIndicators">
            
            <div class="carousel-indicators" id="indicadores">
            </div>
  
            <div class="carousel-inner" id="carrosel-imagens-cidade"></div>
          </div>
        </div>
  
        <div class="col-lg-8 mt-2 probootstrap-animate">
          <h1 class="city-title mb-4" id="nomeCidade"></h1>
          <h2 class="city-subtitle mb-4" id="subtituloCidade"></h2> 
          <p id="descricaoCidade"></p>
          <p><b>Come with us on this trip and enjoy your package of experiences thought to detail for you! You don't have to worry about anything. Enjoy your trip without stress!</b> -->
          <div class="d-flex justify-content-center probootstrap-animate" id="botaoExperiencias"></div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="probootstrap_section_cidades_2" id="section-travel">
    <div class="container">
  
      <div class="row text-center mb-5 probootstrap-animate">
        <div class="col-md-12">
          <h2 class="display-4 border-bottom probootstrap-section-heading">Main Attractions</h2>
        </div>
      </div>
      
      <div class="row probootstrap-animate">
        <div class="owl-carousel js-owl-carousel" id="carrosel-cidades">
        </div>
      </div>
    </section>
  
  <section class="probootstrap_section_cidades_2">
    <div class="container">
  
      <div class="row text-center mb-5 probootstrap-animate">
        <div class="col-md-12">
          <h2 class="display-4 border-bottom probootstrap-section-heading">Map</h2>
        </div>
      </div>
  
      <div class="row probootstrap-animate">
        <div id="map" style="height: 600px; margin:auto">
          <!-- <img class="mapa" src="..//assets/images/mapa-aveiro.png" alt="mapa-aveiro"> -->
        </div>
      </div>
    </div>
  </section>
  
  <section class="probootstrap_section" id="section-feature-testimonial">
    <div class="container">
  
      <div class="col-md-12 text-center probootstrap-animate">
        <h2 class="display-4 border-bottom probootstrap-section-heading ">What clients say</h2>
      </div>
  
      <div class="accordion align-items-center" id="accordionExample">
        <div class="row probootstrap-animate">
          <div class="col-md-6">
            <div class="p-3">
              <ul class="testimonial-list">
                <li>
                  <div class="card p-3" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <div class="d-flex flex-row align-items-center"> <img src="assets/images/person_1.jpg" width="50" class="rounded-circle">
                      <div class="d-flex flex-column ml-3"> <span class="font-weight-normal">João Soares</span> <span>25 years, Paris Experience</span> </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="card p-3" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <div class="d-flex flex-row align-items-center"> <img src="assets/images/person_2.jpg" width="50" class="rounded-circle">
                      <div class="d-flex flex-column ml-3"> <span class="font-weight-normal">Malena Tudi</span> <span>30 years, London Experience</span> </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="card p-3" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <div class="d-flex flex-row align-items-center"> <img src="assets/images/person_3.jpg" width="50" class="rounded-circle">
                      <div class="d-flex flex-column ml-3"> <span class="font-weight-normal">Felix Pollom</span> <span>35 years, Aveiro Experience</span> </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="p-3 testimonials-margin">
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="card-body">
                  <h4>Best experience ever!!!</h4>
                  <div class="ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>  <i class="fa fa-star"></i> </div>
                  <p>I can't believe I'm finally getting to write this. My experience with Bumblebee all the way from the beginning was amazing. From the cheerful people in customer service to the awesome team of guides that took me through this journey - it has incredible. Nothing would change, not one thing. I am so glad that I decided to go with Bumblebee and will.</p>
                </div>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="card-body">
                  <h4>Thanks for this great service</h4>
                  <div class="ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                  <p>Traveling has always been a dream of mine. I love the idea of seeing and doing new things and experiencing different cultures, but it can be hard to find someone who shares that same ambition. I was thrilled when my sister introduced me to Bumblebee – the site offers an easy way for me to plan not only my next vacation, but also any other travel plans</p>
                </div>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="card-body">
                  <h4>You all are awesome thanks alot</h4>
                  <div class="ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                  <p>I would not be able to plan my trips without Bumblebee. I'm a big traveler, and it's hard to find time to research all the hotels, flight, restaurants, etc. Not only does Bumblebee do this for me, but it's also affordable! I can't recommend this site enough.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="../assets/js/city.js"></script>
  
