<section class="probootstrap_section_cidades mb-5" id="section-intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mt-2">
        <div class="carousel slide probootstrap-animate" data-bs-ride="carousel" id="carouselExampleIndicators">
          
          <div class="carousel-indicators" id="indicadores">
          </div>

          <div class="carousel-inner" id="carrosel-imagens-cidade"></div>
        </div>
      </div>

      <div class="col-lg-8 mt-2 probootstrap-animate">
        <h1 class="city-title mb-4" id="nomeCidade"></h1>
        <h2 class="city-subtitle mb-4" id="subtituloCidade"></h2> 
        <p id="descricaoCidade"></p>
        <p><b>Come with us on this trip and enjoy your package of experiences thought to detail for you! You don't have to worry about anything. Enjoy your trip without stress!</b> -->
        <div class="d-flex justify-content-center probootstrap-animate" id="botaoExperiencias"></div>
      </div>
    </div>
  </div>
</section>

<section class="probootstrap_section_cidades_2" id="section-travel">
  <div class="container">

    <div class="row text-center mb-5 probootstrap-animate">
      <div class="col-md-12">
        <h2 class="display-4 border-bottom probootstrap-section-heading">Main Attractions</h2>
      </div>
    </div>
    
    <div class="row probootstrap-animate">
      <div class="owl-carousel js-owl-carousel" id="carrosel-cidades">
      </div>
    </div>
  </section>

<section class="probootstrap_section_cidades_2">
  <div class="container">

    <div class="row text-center mb-5 probootstrap-animate">
      <div class="col-md-12">
        <h2 class="display-4 border-bottom probootstrap-section-heading">Map</h2>
      </div>
    </div>

    <div class="row probootstrap-animate">
      <div id="map" style="height: 600px; margin:auto"></div>
    </div>
  </div>
</section>

<section class="probootstrap_section" id="section-feature-testimonial"></section>

