    <div class="container container1 pt-5 probootstrap-animate d-flex justify-content-center">
      <form name="formdest" id="formDest" action="#" method="post" class="was.validated">
        <i class="fas fa-plane-departure fa-3x" style="padding-top: 70px;"></i>
        <div class="col-md-12 pt-4">
          <h3 class="text-uppercase mb-4">Destination</h3>

          <div class="row center d-flex justify-content-center">
            <div class="mb-4 col-sm-6">
              <label for="depcity">Select the departure city</label>
              <select id="depcity" name="depcity" required>
                <option value="porto">Porto</option>
                <option value="lisboa">Lisbon</option>
                <option value="faro">Faro</option>
                <option value="barcelona">Barcelona</option>
                <option value="palmademallorca">Palma de Mallorca</option>
                <option value="malaga">Malaga</option>
                <option value="alicante">Alicante</option>
              </select>
            </div>
          </div>

          <div class="row center d-flex justify-content-center">
            <div class="mb-4 col-sm-6">
              <label for="packchoice">Select the experience pack</label>
              <select id="packchoice" name="packchoice" required></select>
            </div>
          </div> 
          
          <div class="table-responsive mb-5 mt-5 row">
            <table class="table table-hover center col-12" style="overflow: auto">
              <thead>
                <tr>
                  <th>Pack Experience</th>
                  <th>City</th>
                  <th>Number of Days</th>
                  <th>Number of Passengers</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody id="addExperienceToTable"></tbody>
            </table>
          </div>
        
        
          <div class="row d-flex justify-content-center">
            <div class="mt-5 mb-4 col-sm-6 center">
              <label for="departure">Select departure day</label>
              <input type="date" id="departure" name="departure" required>
            </div>
          </div>

          <div class="row mt-5 pb-5 justify-content-end">
            <div class="col-md-6 d-flex justify-content-center">
              <a href="#formpass" class="nextbutton">Next &raquo;</a>
            </div>
          </div> 

        </div>
      </form>
    </div>
