    <div class="container container1 pt-5 probootstrap-animate">
      <form name="formcheckout" action="#" method="post" class="was.validated">
        <div class="row" style="text-align: center;">
          <i class="fas fa-shopping-basket fa-3x" style="padding-top: 70px;"></i>
          <h2 class="text-uppercase pt-4 mb-4">Data billing</h2>
        </div>

        <div class="col-md-12 pb-5" style="text-align: center;">
          <div class="row mb-3 mt-5 d-flex justify-content-center">
            <div class="col-md-6 center">
              <label for="name">Name</label>
              <input type="text" id="name" maxlength="50" name="firstandlastname" placeholder="Maria Oliveira Santos" style="width: 100%; text-align: center;" required>
            </div>
          </div>
          <div class="row mb-3 d-flex justify-content-center">
            <div class="col-md-6 center">
              <label for="nif">NIF</label>
              <input type="text" id="nif" name="nif" maxlength="9" placeholder="123456789" pattern="[0-9]{9}" style="width: 100%; text-align: center;" required>
            </div>
          </div>

          <div class="row mb-3 d-flex justify-content-center"> 
            <div class="col-md-6 center">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" placeholder="maria@email.com" style="width: 100%; text-align: center;" required>
            </div>
          </div>

          <div class="row mb-5 d-flex justify-content-center">
            <div class="col-md-6 center">
              <label for="phone">Phone number</label>
              <input type="tel" id="phone" name="phone" placeholder="963256357" pattern="[0-9]{9}" maxlength="9" style="width: 100%; text-align: center;" required>
            </div>
          </div>
        </div>  
        
        <h5 style="text-align: center;"><strong>Your bill will be send to your mailbox,</br> as well as the payment methods available.</strong></h5>
        <div class="col-6 center">
          <hr>
        </div>
        
        <h5 class="text-uppercase mb-4 mt-5" style="text-align: center;">Conditions</h5>

        <div class="row pb-5 form-check form-switch">
          <div class="d-flex justify-content-center">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" required>
            <label class="form-check-label" style="padding-left: 0.5cm" for="flexSwitchCheckDefault">I agree with all <a class="contact-link" href="#!">terms and conditions</a>.</label>
          </div>
        </div>
        
        <div class="row pb-3" >
          <div class="col-md-6 d-flex justify-content-center">
            <a href="#formextras" class="prevbutton" role="button">&laquo; Previous</a>
          </div>
        </div>

        <div class="row pb-5" style="text-align: center;">
          <div class="col">
            <button class="cidades-ver-mais" type="submit" value="Submit">Submit</button>
            <img style="width:100px" src="assets\images\logo_1.png" alt="Bumblebee - Experience Agency">
          </div>
        </div>
      </form>
    </div>