    <div class="container container1 pt-5 probootstrap-animate">
      <form name="formextras" action="#" method="post" class="was.validated">
        <div class="row" style="text-align: center;">
          <i class="fas fa-cart-plus fa-3x" style="padding-top: 70px;"></i>
          <h2 class="text-uppercase pt-4 mb-4">Extra services</h2>
        </div>
        <div class="row mb-4" style="text-align: center;">
          <h5>We have a range of services to make your experience more confortable and pleasant.</h5>
        </div>
        <div class="row col-sm-6 center mb-5" style="margin:auto; text-align: left;">
          <P>Are you looking for a rent-a-car service, transfer service or a local guide?<br/> Don't worry, we've got you! (You can choose more than one service)</P>
          <div id="addService"></div>
        </div>
        
        <div style="overflow-x:auto;">
          <div class="table-responsive mb-5 d-flex justify-content-center">
            <table class="table table-hover center" style="width: 650px;">
              <thead>
                <tr>
                  <th>Extra services</th>
                  <th>Price range</th>
                </tr>
              </thead>  
              <tbody id="addServiceToTable"></tbody>
            </table>
          </div>
        </div>


        <div class="row col-sm-6 center mb-5" style="margin:auto; text-align: left;">
          <label for="extraservice">Specify what do you want</label>
          <textarea id="extraservice" name="extraservice" rows="6" cols="50" placeholder="Which days, airport..."></textarea>
        </div>

        <div class="row col-sm-6 center mb-5" style="margin:auto; text-align: left;">
          <label for="request">Do you have some requests or observations for your reservation?</label>
          <textarea id="request" name="request" rows="6" cols="50" placeholder="Let us know! How can we improve your experience?"></textarea>
        </div>

        <div class="row col-sm-6 center mb-5 pb-4" style="margin:auto; text-align: left;">
          <label for="brand">How did you hear about us?</label>
          <select id="brand" name="brand" required>
            <option value="friends">Friends</option>
            <option value="onlineadvertisment">Online Advertisement</option>
            <option value="searchengine">Search Engine</option>
            <option value="socialmedia">Social Media</option>
            <option value="magazine">Magazine</option>
            <option value="television">Television</option>
            <option value="other">Other</option>
          </select>
        </div>

        <div class="row mt-5 pb-5 mb-0">
          <div class="col d-flex justify-content-center">
            <p><a href="#formpass" class="prevbutton" role="button">&laquo; Previous</a></p>
          </div>
          <div class="col d-flex justify-content-center">
            <p><a href="#formcheckout" class="nextbutton">Next &raquo;</a></p>
          </div>
        </div>
      </form>
    </div>