    <div class="container container1">
      <form name="formpass" action="#" method="post" class="was.validated">
        <div class="container pt-5 probootstrap-animate">

          <div class="text-center">
            <i class="fas fa-user-plus fa-3x" style="padding-top: 70px;"></i>
            <h2 class="text-uppercase pt-4 mb-5">Passengers</h2>
          </div>

          <div class="row mb-3">
            <div class="col-md-6 d-flex justify-content-md-end justify-content-center">
              <label for="fname">First Name</label>
              <input type="text" id="fname" name="firstname" placeholder="Your first name" required>
            </div>
            <div class="col-md-6 d-flex justify-content-md-start justify-content-center" required>
              <label for="lname">Last Name</label>
              <input type="text" id="lname" name="lastname" placeholder="Your last name">
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-6 d-flex justify-content-md-end justify-content-center" required>
              <label for="idnumber">ID number</label>
              <input type="text" name="idnumber" placeholder="Your ID number">
            </div>
            <div class="col-md-6 d-flex justify-content-md-start justify-content-center" required>
              <label for="gender">Gender</label>
              <select id="gender" aria-label="Default select example">
                <option value="fem">Feminine</option>
                <option value="masc">Masculine</option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <div class="d-flex justify-content-md-center">
              <label for="email">Email</label>
              <input style="width:420px" type="email" id="email" name="email" placeholder="Your email" required>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-6 d-flex justify-content-md-end justify-content-center">
              <label for="phone">Phone number</label>
              <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" placeholder="Your phone number" required>
            </div>
            <div class="col-md-6 d-flex justify-content-md-start justify-content-center" required>
              <label for="birthday">Birthday</label>
              <input type="date" id="birthday" name="birthdaydate">
            </div>
          </div>
        </div>

        <div class="container pt-5 probootstrap-animate">
          <h5 style="text-align: center;">If you are travelling with someone, fill in the fields below (<strong>according to your pack</strong>) </h5>
          <div class="center" style="width: 50%;">
            <hr>
          </div>
        </div>

        <div class="container pt-5 probootstrap-animate">
          <div id="persona">        
            <h3 style="text-align: center;">Person A</h3>
            <div class="row mb-3 mt-5">
              <div class="col-md-6 d-flex justify-content-md-end justify-content-center">
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname">
              </div>
              <div class="col-md-6 d-flex justify-content-md-start justify-content-center">
                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname">
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6 d-flex justify-content-md-end justify-content-center">
                <label for="idnumber">ID number</label>
                <input type="text" name="idnumber">
              </div>
              <div class="col-md-6 d-flex justify-content-md-start justify-content-center">
                <label for="gender">Gender</label>
                <select id="gender" aria-label="Default select example">
                  <option value="fem">Feminine</option>
                  <option value="masc">Masculine</option>
                </select>
              </div>
            </div>
      
            <div class="row mb-3">
              <div class="d-flex justify-content-md-center">            
                <label for="email">Email</label>
                <input style="width:420px" type="email" id="email" name="email">
              </div>
            </div>

            <div class="row mb-5">
              <div class="col-md-6 d-flex justify-content-md-end justify-content-center">
                <label for="phone">Phone number</label>
                <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
              </div>
              <div class="col-md-6 d-flex justify-content-md-start justify-content-center">
                <label for="birthday">Birthday</label>
                <input type="date" id="birthday" name="birthdaydate">
              </div>
            </div>
          </div>
        </div>

        <div class="container pt-5 probootstrap-animate">
          <div id="personb">
            <h3 style="text-align: center;">Person B</h3>
            <div class="row mb-3 mt-5">
              <div class="col-md-6 d-flex justify-content-md-end justify-content-center">
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname">
              </div>
              <div class="col-md-6 d-flex justify-content-md-start justify-content-center">
                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname">
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6 d-flex justify-content-md-end justify-content-center">
                <label for="idnumber">ID number</label>
                <input type="text" name="idnumber">
              </div>
              <div class="col-md-6 d-flex justify-content-md-start justify-content-center">
                <label for="gender">Gender</label>
                <select id="gender" aria-label="Default select example">
                  <option value="fem">Feminine</option>
                  <option value="masc">Masculine</option>
                </select>
              </div>
            </div>

      
            <div class="row mb-3">
              <div class="d-flex justify-content-md-center">
                <label for="email">Email</label>
                <input style="width:420px" type="email" id="email" name="email">
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6 d-flex justify-content-md-end justify-content-center">
                <label for="phone">Phone number</label>
                <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
              </div>
              <div class="col-md-6 d-flex justify-content-md-start justify-content-center">
                <label for="birthday">Birthday</label>
                <input type="date" id="birthday" name="birthdaydate">
              </div>
            </div>
          </div>
        </div>

        <div class="container pt-5 probootstrap-animate">
          <div class="row mb-3" style="text-align: center;">
            <div class="col">
              <input type="reset" class="resetbutton" value="Reset">
            </div>
          </div>
          <div class="row pb-5">
            <div class="col-md-6 d-flex justify-content-center">
              <p><a href="#formdest" class="prevbutton" role="button">&laquo; Previous</a></p>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
              <p><a href="#formextras" class="nextbutton">Next &raquo;</a></p>
            </div>
          </div>
        </div>
      </form>
    </div>